
  {{ template "layout/header.html" .}}
    <title>Edit sub category</title>
    </head>
<body style=" background-color: #f4f7fa;">
  {{ template "layout/menu.html" .}}
 
  <div style="height:100px;"></div>
  <div class="container">
        <div class="scrollmenu"> 
            <a href="/subCategory/s">All</a><i class="fas fa-grip-lines-vertical"></i>
            <a href="/subCategory/add">Create sub category</a>
        </div>
        <h3 class="text-center">Edit Sub Category</h3>
        <br/>
    <form action="/subCategory/update/{{.categoryID}}" method="post" id="subCategoryForm">
      {{range .subCategory }}
        <div class="form-group row"> 
        <label for="" class="col-sm-2 col-form-label">Name sub category(<i class="fas fa-asterisk" style="font-size: 10px;"></i>)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="subCategory" placeholder="Enter name sub category!" name="name" value="{{.CategoryName}}" >
        </div>
        </div>
        <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Description (<i class="fas fa-asterisk" style="font-size: 10px;"></i>)</label>
        <div class="col-sm-10">
            <textarea class="form-control" placeholder="Enter description!" name="description" id="description">{{.Description}}</textarea>
        </div>
        </div>
        {{ end }}
        <div class="form-group row">
        <div class="col-sm-2">Category (<i class="fas fa-asterisk" style="font-size: 10px;"></i>)</div>
        <div class="col-sm-10">
            <select class="custom-select my-1 mr-sm-2" id="categoryID" name="preform">
              <option value="{{.parentID}}" selected>{{.nameParent}}</option>
              {{range .category }}
              <option value="{{.ID}}">{{.CategoryName}}</option>
              {{end}}
              </select>
        </div>
        </div>
      
        <div class="form-group row">
        <div class="col-sm-12 text-center">
            <a type="submit" class="btn btn-danger" href="/subCategory/s">Cancel</a>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
        </div>
        <div class="text-center">
          <div class="alert alert-danger" id="danger-create-alert">
            <strong> <b style="word-wrap:break-word;" id="danger-create"></b> </strong>
          </div>
          <div class="alert alert-success" id="success-create-alert">
            <strong><b style="word-wrap:break-word;" id="succes-create"></b></strong>
          </div>
        </div>
    </form>
  </div>
</body>
<div style="height:170px;"></div>
{{ template "layout/footer.html" }}
<script src="/assets/js/createSubCategory.js"></script>
</html>