{{ template "layout/header.html" .}}
</head>
{{ template "layout/menu.html" .}}
<div style="height:100px;"></div>

<body style=" background-color: #f4f7fa;">
  <div class="container">
    <div class="scrollmenu">
      <a href="/post/s/">All</a>
    </div>
    <br/>
    <h3 class="text-center">Create post</h3>
    <br />
    <div>
      <form id="createPost" action="/post/create" method="post" enctype="multipart/form-data">
        <div class="form-group row">
          <div class="col-sm-2 col-form-label mr-3">Category (<i class="fas fa-asterisk" style="font-size: 10px;"></i>)</div>
          <div class="col-sm-9">
            <select class="custom-select my-1 mr-sm-2" id="category" name="categories">
              <option selected>Choose</option>
              {{range .category }}
              <option value="{{.ID}}">{{.CategoryName}}</option>
              {{end}}
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2 col-form-label mr-3">Sub category (<i class="fas fa-asterisk" style="font-size: 10px;"></i>)</div>
          <div class="col-sm-9">
            <select class="custom-select my-1 mr-sm-2" id="subCategory" name="SubCategories">
              <option selected>Choose</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label mr-3">Title (<i class="fas fa-asterisk" style="font-size: 10px;"></i>)</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="title" placeholder="TITLE!" name=title
              value="{{.tempPost.Title}}">
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label mr-3">Description (<i class="fas fa-asterisk" style="font-size: 10px;"></i>)</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="description" placeholder="DESCRIPTION!" name="description"
              value="{{.tempPost.Description}}">
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label mr-3">Image (<i class="fas fa-asterisk" style="font-size: 10px;"></i>)</label>
          <div class="col-sm-9">
            <div class="image-upload" onchange="previewFile()">
              <div class="input-group mb-3">
                <input id="file-input" type="file" class="form-control" name="uploadImage"
                  accept="image/png, image/jpeg">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
              </div>
            </div>
            <label for="file-input">
              <img src="" alt="" id="imageUpload"
                style="width: 200px;height: 200px; object-fit: cover; display: none;" />
            </label>
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label mr-3">Content (<i class="fas fa-asterisk" style="font-size: 10px;"></i>)</label>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div id="area" style="height:700px">
              <textarea name="context" id="DSC"
                class="materialize-textarea">{{.tempPost.Content}}</textarea>
            </div>
          </div>
        </div>
        <div class="text-center">
          <div class="alert alert-danger" id="danger-create-alert">
            <strong> <b style="word-wrap:break-word;" id="danger-create"></b> </strong>
          </div>
          <div class="alert alert-success" id="success-create-alert">
            <strong><b style="word-wrap:break-word;" id="succes-create"></b></strong>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <a href="/post/s/" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
{{ template "layout/footer.html"}}
<script src="/assets/js/createPost.js"></script>
<script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace(document.getElementById('DSC'), {
    filebrowserUploadUrl: '/image/uploader/upload',
    filebrowserImageUploadUrl: '/image/uploader/upload?type=Images',
    filebrowserUploadMethod: 'form',
    filebrowserWindowWidth: '640',
    filebrowserWindowHeight: '1000',
    on: {
      // maximize the editor on startup
      'instanceReady': function (evt) {
        evt.editor.resize("100%", $("#area").height());
      }
    }
  })
</script>

</html>